[submodule "shortcutrecorder"]
	path = shortcutrecorder
	url = https://github.com/nriley/ShortcutRecorder.git
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "SFBCrashReporter"]
	path = SFBCrashReporter
	url = https://github.com/sbooth/SFBCrashReporter.git
