<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Shroud</string>
	<key>CFBundleIdentifier</key>
	<string>net.sabi.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FoCS</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010 Nicholas Riley</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleHelpBookFolder</key>
	<string>Shroud Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Shroud Help</string>
	<key>SUFeedURL</key>
	<string>http://sabi.net/nriley/software/Shroud/updates.xml</string>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SFBCrashReporterCrashSubmissionURL</key>
	<string>https://crashpool.com/reporter/kn8yyrctia21/sfbcr</string>
</dict>
</plist>
